@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Festive&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@300;700&family=Permanent+Marker&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

* {
	font-family: 'Montserrat Alternates', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1)), url('./images/wall.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.uniNav {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}
.welcome {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('./images/geo.png'); 
	/*geo.png*/
	height: 100vh;
	background-size: cover;
	/*background-position: center;*/
	background-attachment: fixed;
}

@media (min-width: 1440px) {
	.proj {
		padding-top: 1rem;
	}
	#myProjects {
		height: 160vh;
	}
	
}
@media (min-width: 1024px) {
	#row1 {
		padding-top: 5rem;
	}
	#row2 {
		padding-top: 2rem;
	}
	.bio {
		font-size: 30px;
	}
	.img1 {
		width: 100%;
		height: auto;
	}
	#contactMe {
		margin-top: 12rem;
		width: 80%;
		height: auto;
	}
	.aboutMe {
		margin-top: 10rem;
		width: 70%;
		height: auto;
	}


}
@media (min-width: 768px) {
	#row1 {
		padding-top: 12rem;
	}
	#row2 {
		padding-top: 4rem;
	}
	.bio {
		font-size: 50px;
	}
	.proj {
		padding-top: 10rem;
	}
	.img1 {
		width: 50%;
		height: auto;
	}
	
}
@media (min-width: 360px) {
	.bio {
		font-size: 15px;
	}

	.img1 {
		padding-top: 2rem;
	}
	.proj {
		padding-top: 2rem;
	}
	#contactMe {
		width: 100%;
		height: auto;
	}
	.aboutMe {
		margin-top: 10rem;
		width: 100%;
		height: auto;
	}
}
.uniNav div ul li a{
	border: 1px solid white transparent;
	border-radius: 10px;
	transition: 0.6s ease;
}
.uniNav div ul li a:hover {
	background-color: #af4d78;
}
.aboutMe {
	margin-top: 10rem;
	width: 80%;
	height: auto;
}
.clickMe {
	text-decoration: none;
	color: white;
	transition: color 0.3s;
}
.clickMe:hover {
	font-style: italic;
	color: #af4d78;
	text-decoration: none;
}
#introCode {
	color: white;
	transition: color 0.4s ease-in-out;
}
#introCode:hover {
	color: #af4d78;
}
.title1 {
	font-family: 'Montserrat', sans-serif;
}
.crslImg {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7))
}
#card {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
}
.arts {
	padding-top: 5rem;
}
#cardTitle {
	font-family: 'Montserrat', sans-serif;
}
#myProjects {
	margin-top: 10rem;
	/*background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,1)), url('./images/geo.png');
	height: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
}
#des {
	font-family: 'Cookie', cursive;
	font-size: 65px;
	font-style: italic;
	transition: color 0.5s ease-in-out;
}
#des:hover {
	color: yellow;
}
#innv {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	transition: color 0.5s ease-in-out;
}
#innv:hover {
	color: orangered;
	
}
/*#contactMe {
	margin-top: 12rem;
	width: 80%;
	height: auto;
}*/
#contacts {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('./images/geo.png');
	height: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#myInput {
	font-family: 'Montserrat', sans-serif;
}
#myModal {
	font-family: 'Montserrat', sans-serif;
}
#myMap {
	height: 600px;
}

#icon {
	font-size: 2rem;
	color: white;
}

#logo1 {
	font-family: 'Cookie', cursive;
	font-style: italic;
	font-size: 30px;
	transition: color 0.4s;
}
#logo1:hover {
	color: #af4d78;
}
#myFooter {
	background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7));
}
#sign {
	font-family: 'Montserrat', sans-serif;
}

#postPage {
	width: 200px;
}